<a href="https://colab.research.google.com/github/AnastasiyaKS/IDA-labs-RU/blob/master/Lab_1_0_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://www.bigdatauniversity.com"><img src = "https://ibm.box.com/shared/static/jvcqp2iy2jlx2b32rmzdt0tx8lvxgzkp.png" width = 300, align = "center"></a>

#<center> Анализ данных с использованием Python </center>

<hr>

##<center>Выбросы CO2 по странам по годам </center>

Выбросы углекислого газа - это выбросы от сжигания ископаемого топлива и производства цемента. Они включают углекислый газ, образующийся при потреблении твердого, жидкого и газового топлива и сжигания газа.

http://data.worldbank.org/indicator/EN.ATM.CO2E.PC/

### Получение данных

Данные можно загрузить по ссылке The World Bank [here](http://data.worldbank.org/indicator/EN.ATM.CO2E.PC/) либо [here](https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv)

#### Здесь мы будем использовать команду ***wget***, чтобы получить файл ***csv*** из прямой ссылки

In [4]:
!wget --output-document co2emissions.csv https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv

--2019-03-04 00:22:17--  https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.27.197, 107.152.26.197
Connecting to ibm.box.com (ibm.box.com)|107.152.27.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv [following]
--2019-03-04 00:22:17--  https://ibm.box.com/public/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv [following]
--2019-03-04 00:22:17--  https://ibm.ent.box.com/public/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.27.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.27.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!6eoqOx8lJ6BbytUuUzTx6WRdj7uUX6ROdF2Sh6pIGfFuEA-J5ktF1_L5xWWzOZcdajd0sgVYYHS9PYzT1b3n3mQfgwaFkc5vw230Vmt119Ry6RfkoDuKG9x5FIZFsQH3nYyKLKus46O5xNPKQhBJD8h6EoGGP5P3uTYYTTSRvqOBh-iVsfX5ICyM3XPHVoJvOxfU5d4BpUpz0TaWy_7BrvHO6Tm78QFK3Y6iA5V7z8KRFksRnL06227C7yGTtuRobJh1zNVGQqkDlBHidlt780WlYDtRubR4iFeSBbN_Jeia4f9ocxlWeWsQk1bdo6irBXb5wcrbni50xTILrEC9qaZ_B1PEqvrzZMb9A3e_0vQm71bH9lvV_bZg2w1E0XdKgsaSjYObCJEaZrkL7lvgay0b5qGL-suF5bP8hOHxBWMkpW6z0Xt3Wd__Y3yu3fmUtFFfg6ZyFDKDQcOWurkYDX6myVOe-sEHDhXup_8E1hj6DBZ6Tzur-2IwXkPiffZPeVYf0-MvH_DJYb3jtQvyrvYbDhq-q67lrnkBULK8qaUJdfQMwMrRZJ7XuYG6e0N34lwSCpWRsPTmFYo59tIMgCXW-4ZlXbk3RUNOu25kHSHwDk94MqkuLoD6QvmrBDwJcplfi6GmlD12VdkwplIgF4eSp2MYmG0lmBFSBSWzHm3cCtLezeu4CSzjbuE4_68eNoUs_YUQli9tvLU04mlFYSbeiTjPvUd5VKoKgiLxsp2_9I_AppBETlcjRbzIdAQUhbe1x52KH-CwryitsR-4dl_M4wr5WRkxGDdmvNKa0Ac2Y9hQWkGWBgimB8g3oJr-kzCBsYwsRYlANw1b0gGH4zu9EnIh1SGluVNIzQZwFVOLy4YfcMFbJZ_7nislK7LkPMlG5tdHiWW-woPI-VGzGh9_e-1-b_FODGb8M4K-Bwb-3JOdd11U4u66y4dXY9SAol4apZpWY6tzMuc8ioPlwZuz6ehB3A9ttZfD4itzLaWtOCzovh5bjgGTipsnKhbsYUpVh4OMlDiiI5q0Gw-rkwa7Cn3aKdY3uq56nkAHulryim6FJQGdDsJhMblVdNXhujuRySHhcoP1ceJxqrsajBqzKPSyd-mbRPcIHs1zBWLoT4vpI_EeQDAYQ777HJRnL5srzkaQOFo4Lf80ZBXz3Wy-xOvMVrjTGwoN6ylZ98mPyUYcMdCfNE-9rcb_zS-J2bnFzOKLwLgrcZ_5DKHKD3ROo80LhCl6v-T1FZ9jZVVzIP2z2Sj5V2l6JRtFBMllg76xeIAuHW8jNE15aKZrgKV12JX2OomRDq-NQQ-zL6yLnwvtqkm_KfaNyOdeBWjdZNSDUwhVo9oZgcyl-fjDjNOAiRMTAyoEkOHdoDXY-uaeLVKmw4puNsxwvtyXAKei_hrJ5kfvTG8tilg./download [following]
--2019-03-04 00:22:18--  https://public.boxcloud.com/d/1/b1!6eoqOx8lJ6BbytUuUzTx6WRdj7uUX6ROdF2Sh6pIGfFuEA-J5ktF1_L5xWWzOZcdajd0sgVYYHS9PYzT1b3n3mQfgwaFkc5vw230Vmt119Ry6RfkoDuKG9x5FIZFsQH3nYyKLKus46O5xNPKQhBJD8h6EoGGP5P3uTYYTTSRvqOBh-iVsfX5ICyM3XPHVoJvOxfU5d4BpUpz0TaWy_7BrvHO6Tm78QFK3Y6iA5V7z8KRFksRnL06227C7yGTtuRobJh1zNVGQqkDlBHidlt780WlYDtRubR4iFeSBbN_Jeia4f9ocxlWeWsQk1bdo6irBXb5wcrbni50xTILrEC9qaZ_B1PEqvrzZMb9A3e_0vQm71bH9lvV_bZg2w1E0XdKgsaSjYObCJEaZrkL7lvgay0b5qGL-suF5bP8hOHxBWMkpW6z0Xt3Wd__Y3yu3fmUtFFfg6ZyFDKDQcOWurkYDX6myVOe-sEHDhXup_8E1hj6DBZ6Tzur-2IwXkPiffZPeVYf0-MvH_DJYb3jtQvyrvYbDhq-q67lrnkBULK8qaUJdfQMwMrRZJ7XuYG6e0N34lwSCpWRsPTmFYo59tIMgCXW-4ZlXbk3RUNOu25kHSHwDk94MqkuLoD6QvmrBDwJcplfi6GmlD12VdkwplIgF4eSp2MYmG0lmBFSBSWzHm3cCtLezeu4CSzjbuE4_68eNoUs_YUQli9tvLU04mlFYSbeiTjPvUd5VKoKgiLxsp2_9I_AppBETlcjRbzIdAQUhbe1x52KH-CwryitsR-4dl_M4wr5WRkxGDdmvNKa0Ac2Y9hQWkGWBgimB8g3oJr-kzCBsYwsRYlANw1b0gGH4zu9EnIh1SGluVNIzQZwFVOLy4YfcMFbJZ_7nislK7LkPMlG5tdHiWW-woPI-VGzGh9_e-1-b_FODGb8M4K-Bwb-3JOdd11U4u66y4dXY9SAol4apZpWY6tzMuc8ioPlwZuz6ehB3A9ttZfD4itzLaWtOCzovh5bjgGTipsnKhbsYUpVh4OMlDiiI5q0Gw-rkwa7Cn3aKdY3uq56nkAHulryim6FJQGdDsJhMblVdNXhujuRySHhcoP1ceJxqrsajBqzKPSyd-mbRPcIHs1zBWLoT4vpI_EeQDAYQ777HJRnL5srzkaQOFo4Lf80ZBXz3Wy-xOvMVrjTGwoN6ylZ98mPyUYcMdCfNE-9rcb_zS-J2bnFzOKLwLgrcZ_5DKHKD3ROo80LhCl6v-T1FZ9jZVVzIP2z2Sj5V2l6JRtFBMllg76xeIAuHW8jNE15aKZrgKV12JX2OomRDq-NQQ-zL6yLnwvtqkm_KfaNyOdeBWjdZNSDUwhVo9oZgcyl-fjDjNOAiRMTAyoEkOHdoDXY-uaeLVKmw4puNsxwvtyXAKei_hrJ5kfvTG8tilg./download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.26.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.26.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 237281 (232K) [text/csv]
Saving to: ‘co2emissions.csv’

co2emissions.csv    100%[===================>] 231.72K  --.-KB/s    in 0.1s

2019-03-04 00:22:19 (1.55 MB/s) - ‘co2emissions.csv’ saved [237281/237281]

<hr>

### Импорт данныx с помощью Pandas

#### Импорт `pandas` library

In [0]:
import pandas as pd

#### Импорт данных с помощью `pd.read_csv`

In [0]:
data = pd.read_csv("co2emissions.csv", skiprows = 4)

#### Отобразим первые 5 строк  `data`, используя ` head`

In [8]:
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,25.613715,24.750133,24.876706,24.182702,23.922412,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,6.350868,6.296125,6.049173,6.124770,5.968685,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,0.088141,0.158962,0.249074,0.302936,0.425262,NaN,NaN,NaN,NaN,NaN
3,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,...,1.311096,1.369425,1.430873,1.401654,1.354008,NaN,NaN,NaN,NaN,NaN
4,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,1.507536,1.580113,1.533178,1.515632,1.607038,NaN,NaN,NaN,NaN,NaN

####Очистка данных</h2>

Посмотрите на данные. Какие проблемы есть с качеством данных и как их решить?

Например, что не так с этими строками?

In [9]:
data.loc[[38,93,151,174,242]]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,Unnamed: 60
38,China,CHN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.170381,0.836047,0.661428,0.640002,0.625646,0.665524,...,5.153564,5.311152,5.778143,6.172489,6.710302,NaN,NaN,NaN,NaN,NaN
93,Heavily indebted poor countries (HIPC),HPC,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.119892,0.123377,0.120687,0.124584,0.132245,0.150705,...,0.201442,0.205295,0.207489,0.221467,0.230193,NaN,NaN,NaN,NaN,NaN
151,Middle East & North Africa (developing only),MNA,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.860373,0.842334,0.850695,0.905842,0.995197,1.141548,...,3.624609,3.788672,3.841796,3.882503,3.878219,NaN,NaN,NaN,NaN,NaN
174,Other small states,OSS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,1.428931,1.543374,1.426733,1.518056,1.551112,NaN,NaN,NaN,NaN,NaN
242,World,WLD,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,3.096144,3.067062,3.138020,3.242364,3.358696,3.437595,...,4.686122,4.741826,4.663120,4.840436,4.944676,NaN,NaN,NaN,NaN,NaN

#### Проблемы с качеством данных:
1. Некоторые строки представляют собой совокупности стран, а не фактические страны (например, «Мир»).
2. Некоторые столбцы не имеют значения и могут быть удалены (например, «Имя индикатора»).
3. Некоторые годы не имеют данных для какой-либо страны (например, с 2012 по 2015 год).
4. В некоторых странах нет данных за год. (например, «Тайвань, Китай»)

## Устраним найденные недостатки

### 1. Некоторые строки представляют собой совокупности стран, а не фактические страны (например, «Мир»). 

** Цели: **
Удалите строки, которые не содержат фактическую страну. К счастью, Всемирный банк предоставляет нам метаданные, по которым строки являются странами и являются агрегатами.
- import countries_metadata.csv
- объединим (Merge) метаданные с `data`  по ` Country Code`

#### Загрузим `countries_metadata.csv`

In [10]:
!wget --output-document countries_metadata.csv https://ibm.box.com/shared/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv

--2019-03-04 00:27:28--  https://ibm.box.com/shared/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.26.197, 107.152.27.197
Connecting to ibm.box.com (ibm.box.com)|107.152.26.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv [following]
--2019-03-04 00:27:28--  https://ibm.box.com/public/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv [following]
--2019-03-04 00:27:29--  https://ibm.ent.box.com/public/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.26.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.26.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!42woSGCl03irZnleQmminn97D_S_NOoAIuLHAHZT7x9H69C379-d2JUGC3_C_GSzjhpkyi8bUALYHc1de4O9rMaAo8lghYqGcTaqr70uPsxkHC28conzSINPr3xzE5YBpD8496jkEXfDiPrDQaBYRMKFvsGFX5jKnqEftMLpsqOdLH-oVeMbkfxU7V79NpIvvxgVuWJUSx-BKTo6pAoQBKOEDr0OHIUz14suUw7P5JkjvOtIw7Xmrn6-OFFGPLtAv0hyCUcCYhly3HRAVavWaC_lwasfHt-MiPrYgoa3X3lA3PNPkpZ06CS_aKCecYPC-lSrcGEmlcZ7EdOyE1H984-vEJppoYN1AtBY4POEghOdbJRx3hd8BU7TJOL4S2g8tp2rjLAtXTfbJMaEhOrXz9vuEayo2B-HUWdvpwXwFImmLDlOLxLasrTOI-rLRSN9_1RdfaOVy8MlLLdDHDt60cgSQ-EtmUYNZ7KHOA3Eg9vbKapb6GCuDTp7qyLw3PLYERZ1paLe6IXGCSnFfiQq884yQ92s7zKAzNqPpYzSqZPfl8LOtdfPxUqs_iNshEm83B6ehyHaVTbOIkEpp4YR4-RInnaT6x--Ct3x4UoEsDoAs_YNfBhxT-YKPujfQP7JsGN-hv6fqi-J3sLd5OTIS_7nM0bzvnPJH230hhpTIKcNmijs-rs4JhfhiQL8admYT7no3TbHqD7ifanG2F-P-RDE2TlNtTYgwS2jnPjCl4-3B2l-X6NFvGZuCJQZYVwQ9yZyvBuCXUuPvpGP1Vdt7n96Rxt0jFW8jnGyRRIMbrxY8yDP7twlZYDZsLmQ3gJ3h6YKAYTvAWuEnX7w5rRq1Bv6iWkYNDQEM8B1Z5LWGPXewSqa4MN9SUm5Kh9D5hwVuUo9o4lEcVMiX_kfIf4U4aauSdi0IomWjrKow-GhNI7BpZo8wOt3Nu6vt-wSLhCBUF8T_uP3SAmYBWrS_rsFIeD3fZprk_EZnGiKGEefhscJXIjFWjiiZl5UmHtSiakTgDVR7yZEdPymj4CZMTGRxsXKCq1h2Kvi5U8ePzMkmZPG3IB5DeGn7iE6M-TOFEAzeYkct_KImbPGH3JIIwi2ocNvsPleKwIPm_9brBlbRJnpXF9T_Z63KvurncyMU0ANfGtLaruvS9zgtA-aNjOhPGnFQoIxZwMlDzMMq6k76vItBtUVAaOoudZ1-1zACEdUt8PlyrcuywTA5nbhDygnVjdAQwyjp5dcPblhaHLW8goU9cjDXBr6LL0D4IWFC9aI5MOudy-n4tc7T70Z1-YqC7toBFI50l7dq1CUW4OSyh1i709zlGmgiqirNcfEBB09NTsji5PJV-ShJE0h01Msiko_AoATpaidX6GRxuFmyvnjZhlVpFFoFjScjuTAyhqYhoOJF-NAYTuWYa5FutWLpMrbGQ../download [following]
--2019-03-04 00:27:29--  https://public.boxcloud.com/d/1/b1!42woSGCl03irZnleQmminn97D_S_NOoAIuLHAHZT7x9H69C379-d2JUGC3_C_GSzjhpkyi8bUALYHc1de4O9rMaAo8lghYqGcTaqr70uPsxkHC28conzSINPr3xzE5YBpD8496jkEXfDiPrDQaBYRMKFvsGFX5jKnqEftMLpsqOdLH-oVeMbkfxU7V79NpIvvxgVuWJUSx-BKTo6pAoQBKOEDr0OHIUz14suUw7P5JkjvOtIw7Xmrn6-OFFGPLtAv0hyCUcCYhly3HRAVavWaC_lwasfHt-MiPrYgoa3X3lA3PNPkpZ06CS_aKCecYPC-lSrcGEmlcZ7EdOyE1H984-vEJppoYN1AtBY4POEghOdbJRx3hd8BU7TJOL4S2g8tp2rjLAtXTfbJMaEhOrXz9vuEayo2B-HUWdvpwXwFImmLDlOLxLasrTOI-rLRSN9_1RdfaOVy8MlLLdDHDt60cgSQ-EtmUYNZ7KHOA3Eg9vbKapb6GCuDTp7qyLw3PLYERZ1paLe6IXGCSnFfiQq884yQ92s7zKAzNqPpYzSqZPfl8LOtdfPxUqs_iNshEm83B6ehyHaVTbOIkEpp4YR4-RInnaT6x--Ct3x4UoEsDoAs_YNfBhxT-YKPujfQP7JsGN-hv6fqi-J3sLd5OTIS_7nM0bzvnPJH230hhpTIKcNmijs-rs4JhfhiQL8admYT7no3TbHqD7ifanG2F-P-RDE2TlNtTYgwS2jnPjCl4-3B2l-X6NFvGZuCJQZYVwQ9yZyvBuCXUuPvpGP1Vdt7n96Rxt0jFW8jnGyRRIMbrxY8yDP7twlZYDZsLmQ3gJ3h6YKAYTvAWuEnX7w5rRq1Bv6iWkYNDQEM8B1Z5LWGPXewSqa4MN9SUm5Kh9D5hwVuUo9o4lEcVMiX_kfIf4U4aauSdi0IomWjrKow-GhNI7BpZo8wOt3Nu6vt-wSLhCBUF8T_uP3SAmYBWrS_rsFIeD3fZprk_EZnGiKGEefhscJXIjFWjiiZl5UmHtSiakTgDVR7yZEdPymj4CZMTGRxsXKCq1h2Kvi5U8ePzMkmZPG3IB5DeGn7iE6M-TOFEAzeYkct_KImbPGH3JIIwi2ocNvsPleKwIPm_9brBlbRJnpXF9T_Z63KvurncyMU0ANfGtLaruvS9zgtA-aNjOhPGnFQoIxZwMlDzMMq6k76vItBtUVAaOoudZ1-1zACEdUt8PlyrcuywTA5nbhDygnVjdAQwyjp5dcPblhaHLW8goU9cjDXBr6LL0D4IWFC9aI5MOudy-n4tc7T70Z1-YqC7toBFI50l7dq1CUW4OSyh1i709zlGmgiqirNcfEBB09NTsji5PJV-ShJE0h01Msiko_AoATpaidX6GRxuFmyvnjZhlVpFFoFjScjuTAyhqYhoOJF-NAYTuWYa5FutWLpMrbGQ../download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.26.200, 107.152.27.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.26.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45978 (45K) [text/csv]
Saving to: ‘countries_metadata.csv’

countries_metadata. 100%[===================>]  44.90K  --.-KB/s    in 0.07s

2019-03-04 00:27:30 (616 KB/s) - ‘countries_metadata.csv’ saved [45978/45978]

#### Импортируем `countries_metadata.csv`

In [0]:
metadata = pd.read_csv("countries_metadata.csv", encoding = "utf-8")

In [12]:
metadata.head(10)

,Country Name,Country Code,Region,IncomeGroup,SpecialNotes,Unnamed: 5
0,Aruba,ABW,Latin America & Caribbean,High income: nonOECD,SNA data for 2000-2011 are updated from offici...,NaN
1,Afghanistan,AFG,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,NaN
2,Angola,AGO,Sub-Saharan Africa,Upper middle income,"April 2013 database update: Based on IMF data,...",NaN
3,Albania,ALB,Europe & Central Asia,Upper middle income,NaN,NaN
4,Andorra,AND,Europe & Central Asia,High income: nonOECD,NaN,NaN
5,Arab World,ARB,NaN,NaN,Arab World aggregate. Arab World is composed o...,NaN
6,United Arab Emirates,ARE,Middle East & North Africa,High income: nonOECD,April 2013 database update: Based on data from...,NaN
7,Argentina,ARG,Latin America & Caribbean,High income: nonOECD,The base year has changed to 2004.,NaN
8,Armenia,ARM,Europe & Central Asia,Lower middle income,NaN,NaN
9,American Samoa,ASM,East Asia & Pacific,Upper middle income,NaN,NaN

#### Как определить, когда указанное «Country Name» является названием страны, а когда - агрегированным регионом?

Можно заметить,  когда **строка** представляет собой **совокупность стран**, например, «Арабский мир» --> **`Region`** и **`IncomeGroup`** представляют собой **NaN** (Not a Number). Мы можем использовать это правило для удаления всех регионов, которые не являются странами.

#### Объединить `данные` с` метаданными` по ключу `Код страны`

**Merge** `data` with `metadata` on the key, `Country Code`

In [0]:
merge = pd.merge(data, metadata, on = "Country Code")

In [14]:
merge.head(10)

,Country Name_x,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,Unnamed: 60,Country Name_y,Region,IncomeGroup,SpecialNotes,Unnamed: 5
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Aruba,Latin America & Caribbean,High income: nonOECD,SNA data for 2000-2011 are updated from offici...,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Andorra,Europe & Central Asia,High income: nonOECD,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,NaN,NaN,NaN,NaN,NaN,Afghanistan,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,NaN
3,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,...,NaN,NaN,NaN,NaN,NaN,Angola,Sub-Saharan Africa,Upper middle income,"April 2013 database update: Based on IMF data,...",NaN
4,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,NaN,NaN,NaN,NaN,NaN,Albania,Europe & Central Asia,Upper middle income,NaN,NaN
5,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.643964,0.685501,0.761148,0.875124,0.999248,1.166075,...,NaN,NaN,NaN,NaN,NaN,Arab World,NaN,NaN,Arab World aggregate. Arab World is composed o...,NaN
6,United Arab Emirates,ARE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.118786,0.108937,0.163355,0.175712,0.132651,0.146370,...,NaN,NaN,NaN,NaN,NaN,United Arab Emirates,Middle East & North Africa,High income: nonOECD,April 2013 database update: Based on data from...,NaN
7,Argentina,ARG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.367473,2.442616,2.522392,2.316356,2.538380,2.641714,...,NaN,NaN,NaN,NaN,NaN,Argentina,Latin America & Caribbean,High income: nonOECD,The base year has changed to 2004.,NaN
8,Armenia,ARM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Armenia,Europe & Central Asia,Lower middle income,NaN,NaN
9,American Samoa,ASM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,American Samoa,East Asia & Pacific,Upper middle income,NaN,NaN

** Примечание: ** Значения региона являются NaN, когда строка не является реальной страной.

#### Удалите строки, где `Region` является NaN

In [0]:
merge = merge[pd.notnull(merge['Region'])]

In [16]:
merge.head(10)

,Country Name_x,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,Unnamed: 60,Country Name_y,Region,IncomeGroup,SpecialNotes,Unnamed: 5
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Aruba,Latin America & Caribbean,High income: nonOECD,SNA data for 2000-2011 are updated from offici...,NaN
1,Andorra,AND,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Andorra,Europe & Central Asia,High income: nonOECD,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,...,NaN,NaN,NaN,NaN,NaN,Afghanistan,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,NaN
3,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,...,NaN,NaN,NaN,NaN,NaN,Angola,Sub-Saharan Africa,Upper middle income,"April 2013 database update: Based on IMF data,...",NaN
4,Albania,ALB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,...,NaN,NaN,NaN,NaN,NaN,Albania,Europe & Central Asia,Upper middle income,NaN,NaN
6,United Arab Emirates,ARE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.118786,0.108937,0.163355,0.175712,0.132651,0.146370,...,NaN,NaN,NaN,NaN,NaN,United Arab Emirates,Middle East & North Africa,High income: nonOECD,April 2013 database update: Based on data from...,NaN
7,Argentina,ARG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2.367473,2.442616,2.522392,2.316356,2.538380,2.641714,...,NaN,NaN,NaN,NaN,NaN,Argentina,Latin America & Caribbean,High income: nonOECD,The base year has changed to 2004.,NaN
8,Armenia,ARM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Armenia,Europe & Central Asia,Lower middle income,NaN,NaN
9,American Samoa,ASM,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,American Samoa,East Asia & Pacific,Upper middle income,NaN,NaN
10,Antigua and Barbuda,ATG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,0.670617,0.860441,1.823374,1.470175,1.567094,2.520359,...,NaN,NaN,NaN,NaN,NaN,Antigua and Barbuda,Latin America & Caribbean,High income: nonOECD,April 2012 database update: Based on official ...,NaN

### 2. Некоторые столбцы не имеют значения и могут быть удалены.

** Цели: **

Удалите следующие неуместные столбцы:
- Столбец 3: ** «Имя индикатора» **
- Столбец 4: ** «Код индикатора» **

In [17]:
merge.columns

Index([u'Country Name_x',   u'Country Code', u'Indicator Name',
       u'Indicator Code',           u'1960',           u'1961',
                 u'1962',           u'1963',           u'1964',
                 u'1965',           u'1966',           u'1967',
                 u'1968',           u'1969',           u'1970',
                 u'1971',           u'1972',           u'1973',
                 u'1974',           u'1975',           u'1976',
                 u'1977',           u'1978',           u'1979',
                 u'1980',           u'1981',           u'1982',
                 u'1983',           u'1984',           u'1985',
                 u'1986',           u'1987',           u'1988',
                 u'1989',           u'1990',           u'1991',
                 u'1992',           u'1993',           u'1994',
                 u'1995',           u'1996',           u'1997',
                 u'1998',           u'1999',           u'2000',
                 u'2001',           u'2002',           u'2003',
                 u'2004',           u'2005',           u'2006',
                 u'2007',           u'2008',           u'2009',
                 u'2010',           u'2011',           u'2012',
                 u'2013',           u'2014',           u'2015',
          u'Unnamed: 60', u'Country Name_y',         u'Region',
          u'IncomeGroup',   u'SpecialNotes',     u'Unnamed: 5'],
      dtype='object')

In [0]:
# справочную информацию о функции можно получить, добавив к названию функции вопросительный знак
merge.drop?

In [0]:
merge = merge.drop(merge.columns[[60,61,64,65]], axis=1) # Note: zero indexed
merge = merge.drop('Indicator Name', axis=1)
merge = merge.drop('Indicator Code', 1)

In [21]:
merge.columns

Index([u'Country Name_x',   u'Country Code',           u'1960',
                 u'1961',           u'1962',           u'1963',
                 u'1964',           u'1965',           u'1966',
                 u'1967',           u'1968',           u'1969',
                 u'1970',           u'1971',           u'1972',
                 u'1973',           u'1974',           u'1975',
                 u'1976',           u'1977',           u'1978',
                 u'1979',           u'1980',           u'1981',
                 u'1982',           u'1983',           u'1984',
                 u'1985',           u'1986',           u'1987',
                 u'1988',           u'1989',           u'1990',
                 u'1991',           u'1992',           u'1993',
                 u'1994',           u'1995',           u'1996',
                 u'1997',           u'1998',           u'1999',
                 u'2000',           u'2001',           u'2002',
                 u'2003',           u'2004',           u'2005',
                 u'2006',           u'2007',           u'2008',
                 u'2009',           u'2010',           u'2011',
                 u'2012',           u'2013',           u'2014',
                 u'2015',         u'Region',    u'IncomeGroup'],
      dtype='object')

### 3. Некоторые годы не содержат данных ни для одной страны



** Цели: **
Подсчитайте количество строк для каждого года. Значение NaN не суммируется к общей сумме.

In [22]:
merge.count()

Country Name_x    215
Country Code      215
1960              151
1961              152
1962              153
1963              154
1964              159
1965              159
1966              159
1967              159
1968              158
1969              159
1970              161
1971              162
1972              164
1973              164
1974              164
1975              164
1976              164
1977              164
1978              164
1979              164
1980              164
1981              164
1982              164
1983              164
1984              164
1985              164
1986              165
1987              165
1988              165
1989              165
1990              167
1991              168
1992              188
1993              188
1994              189
1995              192
1996              191
1997              193
1998              193
1999              193
2000              194
2001              194
2002              195
2003              195
2004              195
2005              197
2006              198
2007              199
2008              199
2009              199
2010              199
2011              199
2012                0
2013                0
2014                0
2015                0
Region            215
IncomeGroup       215
dtype: int64

Проверим 2015 год, поскольку, похоже, для этого года нет строк, содержащих данные.

In [23]:
merge['2015']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    NaN
30    NaN
       ..
216   NaN
217   NaN
218   NaN
219   NaN
220   NaN
221   NaN
222   NaN
223   NaN
224   NaN
225   NaN
226   NaN
227   NaN
228   NaN
229   NaN
230   NaN
232   NaN
233   NaN
234   NaN
235   NaN
236   NaN
237   NaN
238   NaN
239   NaN
240   NaN
242   NaN
243   NaN
244   NaN
245   NaN
246   NaN
247   NaN
Name: 2015, Length: 215, dtype: float64

#### Удалим столбцы, которые не содержат данные

In [0]:
merge = merge.drop(['2012', '2013', '2014', '2015'], 1)

In [25]:
merge.count() #double-check that columns have been removed

Country Name_x    215
Country Code      215
1960              151
1961              152
1962              153
1963              154
1964              159
1965              159
1966              159
1967              159
1968              158
1969              159
1970              161
1971              162
1972              164
1973              164
1974              164
1975              164
1976              164
1977              164
1978              164
1979              164
1980              164
1981              164
1982              164
1983              164
1984              164
1985              164
1986              165
1987              165
1988              165
1989              165
1990              167
1991              168
1992              188
1993              188
1994              189
1995              192
1996              191
1997              193
1998              193
1999              193
2000              194
2001              194
2002              195
2003              195
2004              195
2005              197
2006              198
2007              199
2008              199
2009              199
2010              199
2011              199
Region            215
IncomeGroup       215
dtype: int64

### 4. В некоторых странах нет данных за год.

**Цели:**
Используйте значения строк, чтобы определить, для каких стран нет данных.

Посмотрим среднее значение всех данных для каждой строки (по оси 1).

In [26]:
merge.mean(axis=1) #Takes the mean of all numeric quantities by row

0      21.766264
1       6.926680
2       0.139113
3       0.610377
4       1.657433
6      31.844877
7       3.563240
8       1.230824
9            NaN
10      5.106829
11     14.364944
12      7.200894
13      4.257653
14      0.032397
15     11.372211
16      0.184605
17      0.060372
18      0.174804
19      7.181894
20     19.867874
21     12.989496
22      3.336662
23      6.194563
24      1.384584
25      7.125285
26      0.906155
27      1.406963
28      3.143447
29     21.497854
30      0.331486
         ...
216     0.031805
217     0.197678
218     1.726478
219     0.459464
220     8.943359
221     0.177336
222     0.630603
223    15.802071
224     1.482407
225     2.310214
226          NaN
227          NaN
228     0.114896
229     0.073733
230     7.434661
232     1.742226
233    19.303472
234     4.623481
235     0.870765
236     5.959301
237          NaN
238     0.598837
239     0.517542
240     0.471235
242     0.612593
243     0.737396
244     8.230187
245     0.104890
246     0.495172
247     1.228627
Length: 215, dtype: float64

Как вы можете видеть, NaN появляется, когда нет данных для этой строки.

#### Удалим строки, в которых нет данных ни за один год

In [0]:
merge = merge[pd.notnull(merge.mean(axis=1))]

## <center>Data Cleaning ... done!</center>

### Переименуем полученный результат

In [0]:
mydf = merge

<hr>

### А теперь обзор всех выполненных действий с данными.

Напомним:

In [0]:
import pandas as pd

#Download data
#!wget --output-document co2emissions.csv https://ibm.box.com/shared/static/3yzxbbizo49bkl8cnjw15tymzfwkycj4.csv
#!wget --output-document countries_metadata.csv https://ibm.box.com/shared/static/qh3o86mpij17ot7anydcmbwt41lwxvln.csv
    
#Import data
data = pd.read_csv("/resources/data/co2emissions.csv", skiprows = 4)
metadata = pd.read_csv("/resources/data/countries_metadata.csv", encoding = "utf-8")

#Merge data
merge = pd.merge(data, metadata, on = "Country Code")

#Remove non-country regions
merge = merge[pd.notnull(merge['Region'])]

#Drop some columns with no data
merge = merge.drop(merge.columns[[60,61,64,65]], axis=1)
merge = merge.drop(['Indicator Name', 'Indicator Code','2012', '2013', '2014', '2015'], 1)

#Drop some rows with no data
merge = merge[pd.notnull(merge.mean(axis=1))]

#Rename
mydf = merge

In [29]:
mydf

,Country Name_x,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2004,2005,2006,2007,2008,2009,2010,2011,Region,IncomeGroup
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.510543,24.964531,24.766706,25.613715,24.750133,24.876706,24.182702,23.922412,Latin America & Caribbean,High income: nonOECD
1,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.208829,7.088128,6.553477,6.350868,6.296125,6.049173,6.124770,5.968685,Europe & Central Asia,High income: nonOECD
2,Afghanistan,AFG,0.046068,0.053615,0.073781,0.074251,0.086317,0.101499,0.107674,0.123782,...,0.040727,0.054855,0.065816,0.088141,0.158962,0.249074,0.302936,0.425262,South Asia,Low income
3,Angola,AGO,0.104357,0.084718,0.216025,0.206877,0.216174,0.206089,0.265164,0.166659,...,1.086605,1.069417,1.200877,1.311096,1.369425,1.430873,1.401654,1.354008,Sub-Saharan Africa,Upper middle income
4,Albania,ALB,1.258195,1.374186,1.439956,1.181681,1.111742,1.166099,1.333055,1.363746,...,1.376213,1.412498,1.291548,1.507536,1.580113,1.533178,1.515632,1.607038,Europe & Central Asia,Upper middle income
6,United Arab Emirates,ARE,0.118786,0.108937,0.163355,0.175712,0.132651,0.146370,0.159359,5.336737,...,28.481437,25.914587,23.954519,23.195067,23.033600,21.102296,20.120957,20.433838,Middle East & North Africa,High income: nonOECD
7,Argentina,ARG,2.367473,2.442616,2.522392,2.316356,2.538380,2.641714,2.792654,2.858163,...,4.032407,4.111635,4.404525,4.496834,4.744178,4.427960,4.342272,4.562049,Latin America & Caribbean,High income: nonOECD
8,Armenia,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.204567,1.443731,1.459637,1.694755,1.868611,1.469961,1.422998,1.671657,Europe & Central Asia,Lower middle income
10,Antigua and Barbuda,ATG,0.670617,0.860441,1.823374,1.470175,1.567094,2.520359,5.727992,9.108061,...,4.980996,4.974311,5.096290,5.561525,5.628319,5.906292,6.011269,5.823804,Latin America & Caribbean,High income: nonOECD
11,Australia,AUS,8.582937,8.641569,8.835688,9.226440,9.759073,10.622321,10.328092,10.955625,...,17.030341,17.174386,17.293874,17.467002,17.704080,17.631833,16.710904,16.519210,East Asia & Pacific,High income: OECD
12,Austria,AUT,4.373319,4.496362,4.755362,5.155194,5.391004,5.252197,5.361725,5.417737,...,8.844004,9.027746,8.733507,8.405093,8.262046,7.608851,8.127693,7.769983,Europe & Central Asia,High income: OECD
13,Azerbaijan,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.863230,4.091802,4.616300,3.555340,4.051383,3.565668,3.388226,3.647379,Europe & Central Asia,Upper middle income
14,Burundi,BDI,NaN,NaN,0.015203,0.016155,0.015827,0.011910,0.015115,0.014735,...,0.025845,0.019411,0.022757,0.021964,0.021615,0.020868,0.020542,0.021350,Sub-Saharan Africa,Low income
15,Belgium,BEL,9.941594,10.103872,10.641190,11.386929,11.053655,11.141656,11.042019,11.217257,...,10.642641,10.335096,10.122879,9.713718,9.699599,9.634776,9.989976,8.849398,Europe & Central Asia,High income: OECD
16,Benin,BEN,0.066354,0.052046,0.054202,0.047580,0.055295,0.057115,0.042395,0.052320,...,0.316584,0.292648,0.458608,0.516299,0.500183,0.514278,0.541771,0.509962,Sub-Saharan Africa,Low income
17,Burkina Faso,BFA,0.009112,0.018730,0.017003,0.017504,0.021575,0.019841,0.019534,0.019217,...,0.084722,0.083875,0.098340,0.115429,0.115427,0.109774,0.107673,0.119981,Sub-Saharan Africa,Low income
18,Bangladesh,BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.282230,0.262742,0.332346,0.319840,0.334440,0.352155,0.370360,0.372017,South Asia,Lower middle income
19,Bulgaria,BGR,2.833901,3.269920,3.835892,4.259781,5.262988,5.645652,5.905437,6.638369,...,6.012888,6.189919,6.357101,6.916687,6.778939,5.729716,5.966884,6.714383,Europe & Central Asia,Upper middle income
20,Bahrain,BHR,3.542864,10.547396,9.193609,6.714156,8.747480,6.557022,3.384358,5.121012,...,21.670994,22.153905,20.014759,21.443296,21.519995,18.136234,18.435025,17.947330,Middle East & North Africa,High income: nonOECD
21,"Bahamas, The",BHS,3.749831,4.746699,5.996432,5.558199,8.118597,9.399946,7.466085,11.173504,...,5.343509,4.856024,4.531866,4.521354,2.998089,4.630520,6.829321,5.199844,Latin America & Caribbean,High income: nonOECD
22,Bosnia and Herzegovina,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.080225,4.227206,4.575983,4.580387,5.231547,5.371890,5.513994,6.196652,Europe & Central Asia,Upper middle income
23,Belarus,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.964811,6.112426,6.437868,6.305629,6.592749,6.341939,6.556550,6.682510,Europe & Central Asia,Upper middle income
24,Belize,BLZ,0.477951,0.387219,0.715409,0.622357,0.818289,0.794763,0.737800,1.073754,...,1.434471,1.462766,1.488236,1.536094,1.473196,1.495185,1.721709,1.670904,Latin America & Caribbean,Upper middle income
25,Bermuda,BMU,3.551374,3.868484,3.383712,3.151929,4.124438,3.586487,3.954608,4.090115,...,10.528099,6.916280,8.070208,7.968299,5.955020,7.095329,7.320036,6.077210,North America,High income: nonOECD
26,Bolivia,BOL,0.272038,0.276621,0.286626,0.310159,0.371216,0.371151,0.407085,0.446570,...,1.458991,1.322472,1.586749,1.318204,1.412189,1.459841,1.547659,1.599499,Latin America & Caribbean,Lower middle income
27,Brazil,BRA,0.647068,0.658625,0.697281,0.700749,0.694001,0.670372,0.743448,0.744967,...,1.815133,1.842690,1.823133,1.884034,1.990429,1.866522,2.113415,2.191394,Latin America & Caribbean,Upper middle income
28,Barbados,BRB,0.746313,0.838899,1.119411,0.816330,0.766085,0.872454,1.134077,1.425763,...,4.739999,4.938171,4.986395,5.178741,5.871114,5.833678,5.430338,5.580178,Latin America & Caribbean,High income: nonOECD
29,Brunei Darussalam,BRN,4.078179,3.552009,4.133422,3.798174,3.482289,3.254787,4.573085,3.905218,...,13.628828,12.767506,11.604115,24.178409,26.338271,22.149029,21.873222,24.392013,East Asia & Pacific,High income: nonOECD
30,Bhutan,BTN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.485669,0.608198,0.588330,0.575768,0.606779,0.549146,0.677145,0.766206,South Asia,Lower middle income
31,Botswana,BWA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.385073,2.476795,2.450894,2.435256,2.530551,2.192295,2.555293,2.323345,Sub-Saharan Africa,Upper middle income
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,Seychelles,SYC,NaN,NaN,NaN,0.162343,0.158326,0.154400,0.150599,0.146942,...,8.934145,8.315995,8.669031,7.546776,7.970272,8.485120,7.679581,6.835706,Sub-Saharan Africa,High income: nonOECD
214,Syrian Arab Republic,SYR,0.701818,0.646400,0.654417,0.714140,0.835933,0.681322,0.881376,0.799209,...,2.892197,2.792388,2.861436,3.421673,3.360814,3.012318,2.971741,2.736991,Middle East & North Africa,Lower middle income
215,Turks and Caicos Islands,TCA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.102937,4.575085,5.173757,5.762099,6.094875,5.940523,6.152486,6.010149,Latin America & Caribbean,High income: nonOECD
216,Chad,TCD,0.018319,0.016769,0.027012,0.028785,0.030485,0.032119,0.025001,0.034149,...,0.038896,0.039701,0.039050,0.042863,0.045756,0.042689,0.043463,0.043830,Sub-Saharan Africa,Low income
217,Togo,TGO,0.041762,0.057386,0.054570,0.065171,0.079426,0.077262,0.101285,0.106723,...,0.257366,0.239943,0.213028,0.239677,0.285948,0.270614,0.269107,0.319444,Sub-Saharan Africa,Low income
218,Thailand,THA,0.135586,0.146944,0.173130,0.185877,0.242240,0.234151,0.289096,0.360203,...,3.858213,3.889369,3.992198,3.994687,3.984060,4.198512,4.470426,4.534492,East Asia & Pacific,Upper middle income
219,Tajikistan,TJK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.384487,0.358852,0.382553,0.463345,0.409462,0.382775,0.373873,0.358948,Europe & Central Asia,Lower middle income
220,Turkmenistan,TKM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.206388,9.584881,9.722725,11.535622,11.557572,10.110661,11.358111,12.183667,Europe & Central Asia,Upper middle income
221,Timor-Leste,TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.182848,0.179755,0.180395,0.180962,0.185017,0.174891,0.171932,0.163648,East Asia & Pacific,Lower middle income
222,Tonga,TON,0.178588,0.172592,0.166040,0.159435,0.153309,0.147936,0.143266,0.185558,...,1.097619,1.127099,1.264396,1.112637,1.176967,1.276514,1.128883,0.983562,East Asia & Pacific,Upper middle income
223,Trinidad and Tobago,TTO,3.042576,5.318141,8.225570,1.466683,4.201774,5.694904,4.408841,5.009898,...,23.876765,22.755236,35.630491,36.816763,35.455298,36.569448,38.337841,37.140054,Latin America & Caribbean,High income: nonOECD
224,Tunisia,TUN,0.409211,0.413220,0.412987,0.438885,0.608626,0.532230,0.609953,0.638871,...,2.245079,2.259653,2.270173,2.357974,2.403508,2.374157,2.535619,2.402456,Middle East & North Africa,Upper middle income
225,Turkey,TUR,0.610473,0.615079,0.748241,0.765934,0.869390,0.883506,0.994607,1.033139,...,3.365828,3.498208,3.807814,4.094889,4.055397,3.898959,4.121155,4.383105,Europe & Central Asia,Upper middle income
228,Tanzania,TZA,0.082261,0.067872,0.071734,0.072968,0.091197,0.099494,0.113919,0.141879,...,0.115031,0.140895,0.149737,0.144041,0.147982,0.139973,0.150059,0.154935,Sub-Saharan Africa,Low income
229,Uganda,UGA,0.062123,0.058093,0.059258,0.057791,0.063435,0.078242,0.088439,0.094446,...,0.068296,0.081467,0.091546,0.104293,0.101919,0.105320,0.108297,0.110887,Sub-Saharan Africa,Low income
230,Ukraine,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.231049,7.087746,6.977981,6.910708,6.724046,5.647014,6.638152,6.262352,Europe & Central Asia,Lower middle income
232,Uruguay,URY,1.701583,1.602723,1.540657,1.639285,1.710101,2.049519,1.985093,1.776101,...,1.687830,1.736682,1.995854,1.796306,2.471054,2.401221,1.912605,2.296201,Latin America & Caribbean,High income: nonOECD
233,United States,USA,15.999779,15.681256,16.013937,16.482762,16.968119,17.451725,18.121073,18.598318,...,19.683581,19.610275,19.116139,19.237460,18.489234,17.192379,17.484792,17.020216,North America,High income: OECD
234,Uzbekistan,UZB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.652167,4.313738,4.436685,4.391447,4.434466,3.912053,3.693268,3.914921,Europe & Central Asia,Lower middle income
235,St. Vincent and the Grenadines,VCT,0.135902,0.133923,0.132214,0.174273,0.215513,0.170614,0.211087,0.208979,...,2.026657,2.023191,2.020237,2.084879,2.116255,2.114512,2.146877,2.179923,Latin America & Caribbean,Upper middle income
236,"Venezuela, RB",VEN,7.005107,6.136886,6.155057,6.155748,5.973226,6.187252,5.604755,6.251423,...,5.766145,6.167394,6.227287,5.868518,6.604892,6.525293,6.811756,6.416334,Latin America & Caribbean,High income: nonOECD
238,Vietnam,VNM,0.215631,0.225435,0.258760,0.247579,0.314058,0.343354,0.490532,0.574906,...,1.111901,1.191177,1.233276,1.352791,1.497496,1.636371,1.761695,1.971889,East Asia & Pacific,Lower middle income
239,Vanuatu,VUT,NaN,NaN,0.594888,0.471728,0.864247,0.641714,1.007813,1.074161,...,0.269442,0.262710,0.222103,0.433459,0.406839,0.508463,0.496591,0.591266,East Asia & Pacific,Lower middle income
240,West Bank and Gaza,PSE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.576682,0.826081,0.665292,0.665297,0.570947,0.564578,0.534015,0.572407,Middle East & North Africa,Lower middle income
242,Samoa,WSM,0.135009,0.163529,0.158352,0.184019,0.208092,0.230869,0.196416,0.191283,...,0.902424,0.937497,0.972077,1.026224,1.039490,1.072106,1.103871,1.252110,East Asia & Pacific,Lower middle income
243,"Yemen, Rep.",YEM,0.703403,0.507631,0.728004,0.537606,0.658012,0.699574,0.605767,0.524197,...,0.947308,0.977538,0.985853,0.981422,0.989905,1.026251,1.090060,0.919968,Middle East & North Africa,Lower middle income
244,South Africa,ZAF,5.629718,5.694383,5.729712,5.799844,6.170936,6.467359,6.332753,6.465648,...,9.090418,8.275124,8.802475,9.063326,9.506481,9.545495,8.957154,9.257216,Sub-Saharan Africa,Upper middle income
245,"Congo, Dem. Rep.",COD,0.152228,0.150782,0.135559,0.139446,0.116926,0.142290,0.134675,0.124706,...,0.039361,0.044326,0.045579,0.047312,0.048411,0.045604,0.049328,0.050303,Sub-Saharan Africa,Low income
246,Zambia,ZMB,NaN,NaN,NaN,NaN,0.950434,1.100197,0.953158,1.263628,...,0.181385,0.189080,0.179774,0.150265,0.164692,0.184058,0.192079,0.212450,Sub-Saharan Africa,Lower middle income
247,Zimbabwe,ZWE,NaN,NaN,NaN,NaN,1.045374,1.179176,1.323656,1.122961,...,0.766581,0.825218,0.780721,0.731867,0.569255,0.600521,0.646073,0.691698,Sub-Saharan Africa,Low income

## Экспортируем очищенные данные в файл csv

In [0]:
mydf.to_csv("co2emissions_cleaned.csv", index = False) #See Recent Data for exported csv

## Want to learn more?

You can take free [Python 101](https://cocl.us/DX0108EN_PY0101EN) or [Data Analysis with Python](https://cocl.us/DX0108EN_DA0101EN) courses.  

Also, you can use Data Science Experience to run these notebooks faster with bigger datasets. Data Science Experience is IBM's leading cloud solution for data scientists, built by data scientists. With Jupyter notebooks, RStudio, Apache Spark and popular libraries pre-packaged in the cloud, DSX enables data scientists to collaborate on their projects without having to install anything. Join the fast-growing community of DSX users today with a free account at [Data Science Experience](https://cocl.us/DX0108EN_DSX).

<hr>
Copyright &copy; 2017 [Cognitive Class](https://cognitiveclass.ai/?utm_source=cccopyrightlink&utm_medium=cclabs). This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/).


<h3>Authors:</h3>
<article class="teacher">
<div class="teacher-image" style="    float: left;
    width: 115px;
    height: 115px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    padding: 3px;
    border-radius: 3px;
    text-align: center;"><img class="alignnone wp-image-2258 " src="https://ibm.box.com/shared/static/tyd41rlrnmfrrk78jx521eb73fljwvv0.jpg" alt="Saeed Aghabozorgi" width="178" height="178" /></div>
<h4>Saeed Aghabozorgi</h4>
<p><a href="https://ca.linkedin.com/in/saeedaghabozorgi">Saeed Aghabozorgi</a>, PhD is a Data Scientist in IBM with a track record of developing enterprise level applications that substantially increases clients’ ability to turn data into actionable knowledge. He is a researcher in data mining field and expert in developing advanced analytic methods like machine learning and statistical modelling on large datasets.</p>
</article>
<br>
<article class="teacher">
<div class="teacher-image" style="    float: left;
    width: 115px;
    height: 115px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    padding: 3px;
    border-radius: 3px;
    text-align: center;"><img class="alignnone size-medium wp-image-2177" src="https://ibm.box.com/shared/static/2ygdi03ahcr97df2ofrr6cf8knq4kodd.jpg" alt="Polong Lin" width="300" height="300" /></div>
<h4>Polong Lin</h4>
<p>
<a href="https://ca.linkedin.com/in/polonglin">Polong Lin</a> is a Data Scientist and Lead Data Science Advocate at IBM. Polong is a regular speaker in conferences and meetups where he teaches data science. Polong holds a M.Sc. in Cognitive Psychology.</p>
</article>